

h1 {color :#FFE4E1;}

h2 {color: #FFDAB9;}

#nav {border: 5px dotted;color:  #DB7093;margin-left: 25px;width: 150px;text-align: center;border-radius: 10px;}
#nav a {text-decoration: none;color: #ADD8E6;}
.penjelasan {font-family: arial;font-variant: small-caps;}